#topdiv1{
	width:100%;
	height:120px;
	border-bottom:solid 2px rgb(35 150 40);
}
#topdiv2{
	width:100%;
	height:54px;
	border-bottom:solid 2px rgb(0 0 0);
}
#header{
	margin: 29px 70px 0px 70px;
}
.topdiv2buttons{
	height:88%;
	width:19.57%;
	border:solid rgb(35 150 40);
	background-color:rgb(35 150 40);
	float:right;
}
.topdiv2buttonstext{
	color:white;
	font-size:20px;
	margin:10px 110px;
}
#topdiv2buttontrail{
	color:white;
	font-size:20px;
	margin:10px 70px;
}
#slideshow{
	width:100%;
	height:100%;
}